body {
	background: #282d35;
	font-family: "Helvetica Neue";
}

.logo-container {
	width: 250px;
	margin: 0 auto;
}

.cards-container {
	width: 870px;
	margin: 0 auto;
}

.card {
	float: left;
	width: 200px;
	height: 250px;
	margin: 30px;
	padding: 15px;
	text-align: center;
	background: #ec5151;
	color: white;
	border-radius: 25px;
	line-height: 1.4;
}

.user-image {
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 300px;
	margin-bottom: 9px;
}

.user-name {
	font-size: 30px;
}