.sign-in{
	text-align: center;
	color: white;
	font-size: 30px;
	font: Helvetica Neue;
}

.row{
	text-align: center;
	color: white;
	font-size: 20px;
	font: Helvetica Neue;
	width: 200px;
}

.col-md-6 col-md-offset-3{
	width: 500px;
	align: center;
}